@use"../../styles/mixin" as mixin;

.border {
    border: solid var(--colorFooter) 3px;
    border-radius: 10px;
}

.fontFamilyCardName {
    font-family: var(--font-family2);
    font-size: 1.25rem;
}

.sizeTextProf {
    height: 403px;
    width: 300px;
}