@use "../../../assets/styles/mixin" as mixin;

.checkbox {
  @include mixin.xs {
    display: flex;
    flex-direction: column;
  }
}

.labelCheckbox{
  width: 70%;
  text-align: center;
  @include mixin.xs {
    width: 100%;
  }
}

.inputCheckbox{
  width: 30%;
  @include mixin.xs {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}