@use"../../assets/styles/mixin" as mixin;

.footerLogo {
    font-size: 1.1rem;
    @include mixin.xs {
        line-height: 19px;
        padding-top: 3px;
    }
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-bottom: 10px;
    @include mixin.xs {
        gap: 4rem;
        margin-bottom: 2px;
    }
}

.footerend {
    padding-bottom: 0.5rem;
    align-items: center;
    @include mixin.xs {
        padding-bottom: 0.2rem;
    }
}