@use"../../../assets/styles/mixin" as mixin;

.planningSize {
    width: 400px;
    margin: 0 auto;
    @include mixin.xs {
        width: 250px;
    }
}
.day {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    border: solid var(--text-color) 0.2px;
    @include mixin.xs {
        font-size: 1rem;
    }
}

.salle {
    background-color: var(--colorFooter);
    color: var(--colorBox);
    font-size: 1.5rem;
    font-weight: 300;
    width: 100%;
    text-align: center;
    border: solid var(--text-color) 0.2px;
    @include mixin.xs {
        font-size: 1rem;
    }
}
.border {
    border: solid var(--text-color) 0.2px;
    width: 100%;
}

.legende {
    @include mixin.xs {
        all:unset;
        font-size: 0.7rem;
    }
}