@use"../../../assets/styles/mixin" as mixin;

.menuContainer {
    display: none;
    @include mixin.menuBurger {
        display: block;
        position: absolute;
        top: 4rem;
        right: 0;
        width: 170px;
        z-index: 100;
        border: solid 2px var(--colorFooter);
        li {
            padding: 10px 9px;
            cursor: pointer;
        }
    }
}