@use "./mixin" as mixin;

.colorHeader {
  background-color: var(--colorDom);
}

.colorFooter {
  background-color: var(--colorFooter);
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s opacity;

  &:hover {
    transition: 0.2s opacity;
    opacity: 0.8;
  }

  &-primary {
    background-color: var(--colorFooter);
    color: white;
    border: 2px solid var(--colorFooter);
  }

  &-primary-reverse {
    background-color: white;
    color: var(--colorFooter);
    border: 2px solid var(--colorFooter);
  }
}

.card {
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, 0.9);
}

.form-error {
  margin: 0;
  color: var(--error);
  font-weight: 500;
  font-size: 12px;
}

.burger-menu {
  display: none;

  @include mixin.menuBurger {
    display: block;
    margin-right: 20px;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.4s;

    .burger-bar {
      width: 30px;
      height: 3px;
      background-color: var(--colorFooter);
      transition: 0.4s;
    }

    &.active {
      .burger-bar:nth-child(1) {
        transform: rotate(-45deg) translate(-6px, 6px);
      }

      .burger-bar:nth-child(2) {
        opacity: 0;
      }

      .burger-bar:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -6px);
      }
    }
  }
}

.warning {
  background-color: #f0f0f0;
  height: auto;
  word-wrap: break-word;
  padding-top: 0.3rem;

  .feedbackWarning {
    color: var(--colorDom);
    font-size: 25px;
    font-weight: 600;
    animation: warning-animate 4s infinite alternate;

    @include mixin.xs {
      font-size: 18px;
    }
  }
}
@keyframes warning-animate {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.redText {
  color: var(--colorDom);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  @include mixin.xs {
    margin-top: 4rem;
  }
}

.feedback {
  color: var(--error);
  font-size: 1.1rem;
  font-weight: 600;
  @include mixin.xs {
    font-size: 0.8rem;
  }
}

.feedbackGood {
  color: green;
  font-size: 1.1rem;
  font-weight: 600;
  @include mixin.xs {
    font-size: 0.8rem;
  }
}

.underline {
  text-decoration: underline;
}

