:root {
    --text-color: #000000;
    --colorDom: #E60000;
    --colorHeader: #db4b4b50;
    --colorButon: #fc4664;
    --colorFooter:  #EC042A;
    --colorBox: #FFFFFF;
    --error: #e74c3c;
    --font-family: 'Poppins', sans-serif;
    --font-family2: 'Dancing Script', sans-serif;
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow-nav: rgb(0 0 0 / 22%) 0 2px 18px 0;
  }
