@use"../../assets/styles/mixin" as mixin;

.backgroundTopEvents {
    background-image: url(../../assets/images/backgroundTopEvenement.png);
    background-position: center;
    background-size: cover;
    height: 35vh;

    @include mixin.xs {
        height: 20vh;
    }
}

.topEvents {
    @include mixin.xs {
        margin-top: 4rem;
    }
}

.headerTitle {
    padding-top: 3%;
    margin-left: 20px;

    @include mixin.lg {
        padding-top: 8%;
        margin-left: 72%;
    }

    @include mixin.xs {
        padding-top: 2%;
        margin-left: 50%;
    }
}

.contentCard {
    max-width: 1130px;
    width: 100%;
}

.details {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.inputImg {
    height: 100px;
}

.inputContainer {
    input {
        width: 100%;
        display: block;
    }
}

p.vote {
    text-align: center;
    margin: 3% 0;

    @include mixin.menuBurger {
        font-size: 0.8rem;
        text-align: center;
        margin-top: 3%;
    }
}

.eventContainer {
    position: relative;
    border-radius: 20px;
    height: 650px;
    width: 58%;
    border: solid var(--colorDom) 2px;
    > i {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 25px;
      z-index: 1;
      color: var(--colorFooter);
  
      &:hover {
        color: black;
      }
    }
    @include mixin.xs {
      height: 470px;
      width: 90%;
    }
  
    .imgContainer {
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 600px;
      height: 400px;
      margin: 0 auto;
      img {
        width: 100%;
      }
      @include mixin.menuBurger {
        width: 250px;
        height: 200px;
      }
    }
  
    .title {
      font-size: 18px;
      margin-top: 3%;
      @include mixin.xs {
        font-size: 12px;
        margin-top: 10%;
      }
    }
  
    img {
      border-radius: 20px;
    }
  }